.grid{
  background-color:	#DDA0DD;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15 px;
}
.menu {
  color: rgb(165, 145, 145);

}
.header{
  background-color: 		#F0F8FF;
}
.item{
  background-color: 	#E6E6FA;
}
.item:hover img{
  opacity:0.7;
}
.item p{
  transform:scale(2);
}
a:link{
  color: #c2d4f0;
  }
a:visited{
      color: #000000;
}
.body2{
  background-color: 		#DDC0CB;
}
